<!DOCTYPE html>
<html>
	<head>
            <link rel="stylesheet" href="views/ressources/style.css" type="text/css" media="screen">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Log In</title>
	</head>
	<body>
		<div id="employes">
            <form method="post" action="/">
                <fieldset>
                    <legend>Connexion</legend>
                    <p>
                        Identifiant :<input name="identifiant" type="text" id="identifiant" /><br />
                        Mot de Passe :<input type="password" name="password" id="password" />
                    </p>
                </fieldset>
                <p>
                    <input type="submit" value="connexion" />
                </p>
            </form>
		</div>
		
	</body>
</html>





