<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="views/ressources/style.css" type="text/css" media="screen">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Log In</title>
    </head>
    <body>
    	<center>
	        <h1>Bonjour <%= prenom %> <%= nom %> </h1>
	        <div id="pointVert"><h1> <%= pointFidelite %> </h1></div>
    	</center>
    </body> 
</html>