<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="views/ressources/style.css" type="text/css" media="screen">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Log In</title>
    </head>
    <body>
        <h1>Bonjour <%= prenom %> <%= nom %> <%= test %></h1>
    </body> 
</html>