<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="views/ressources/style.css" type="text/css" media="screen">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Log In</title>
    </head>
    <body>
    	<center>
	        <h1>Bonjour <%= prenom %> <%= nom %> </h1>
	        <div id="pointVert"><h1> <%= pointFidelite %> </h1></div>
	        
	        <form method="post" action="/connect">
	        	id du passager : <br/>
	        	<input type="text" name="idPassager"/><br/>
	        	id du vol : <br/>
	        	<input type="text" name="idVol"/><br/>
	        	date : <br/>
	        	<input type="date" name="date"/><br/>
	        	<input type="submit" value="Save" name="save">
	        </form>
    	</center>
    </body> 
</html>